<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/BetterVer_FW.css" />

    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <main class="better-ver--fw better-ver--fw-main layout">
      <!-- ======= section1 ======= --> 
      <section class="better-ver--fw-section1__section1 layout">
        <div class="better-ver--fw-section1__flex layout">
          <div class="better-ver--fw-section1__flex1 layout">
            <div class="better-ver--fw-section1__flex1-item">
              <div
                style="--src:url(/assets/0afc9c3d7f27a68ea3f234d1ef717957.png)"
                class="better-ver--fw-section1__image layout"
              ></div>
            </div>
            <div class="better-ver--fw-section1__flex1-spacer"></div>
            <h1 class="better-ver--fw-section1__hero-title layout">Rekomendasi Produk</h1>
          </div>
          <h1 class="better-ver--fw-section1__hero-title1 layout">Facial Wash</h1>
          <div class="better-ver--fw-section1__flex2 layout">
            <div class="better-ver--fw-section1__flex2-item">
              <div class="better-ver--fw-section1__flex3 layout">
                <div
                  style="--src:url(/assets/263d053d819578f4be4d545d35afb7a3.png)"
                  class="better-ver--fw-section1__image1 layout"
                ></div>
                <div class="better-ver--fw-section1__block1 layout">
                  <h2 class="better-ver--fw-section1__medium-title-box layout">
                    <pre class="better-ver--fw-section1__medium-title">
Azarine 
acne gentle cleansing foam</pre
                    >
                  </h2>
                </div>
              </div>
            </div>
            <div class="better-ver--fw-section1__flex2-spacer"></div>
            <div class="better-ver--fw-section1__flex2-item1">
              <div class="better-ver--fw-section1__flex4 layout">
                <div
                  style="--src:url(/assets/17c5a4636dc46bfbcd02d1fd0025cf16.png)"
                  class="better-ver--fw-section1__image3 layout"
                ></div>
                <div class="better-ver--fw-section1__block5 layout">
                  <h2 class="better-ver--fw-section1__medium-title1-box layout">
                    <pre class="better-ver--fw-section1__medium-title">
Bhumi 
calendula oil control cleanser</pre
                    >
                  </h2>
                </div>
              </div>
            </div>
            <div class="better-ver--fw-section1__flex2-spacer1"></div>
            <div class="better-ver--fw-section1__flex2-item">
              <div class="better-ver--fw-section1__flex5 layout">
                <div
                  style="--src:url(/assets/751e43849f65732a2fc8ab59e363b3f3.png)"
                  class="better-ver--fw-section1__image3 layout1"
                ></div>
                <div class="better-ver--fw-section1__cover-block layout">
                  <h2 class="better-ver--fw-section1__medium-title1-box layout1">
                    <pre class="better-ver--fw-section1__medium-title">
Biyu
 oil control cleanser</pre
                    >
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <comment content="======= End section1 =======" break="true"></comment
      ><!-- ======= section2 ======= --> 
      <section class="better-ver--fw-section2__section2 layout">
        <div class="better-ver--fw-section2__flex6 layout">
          <div class="better-ver--fw-section2__flex6-item">
            <div class="better-ver--fw-section2__flex7 layout">
              <div
                style="--src:url(/assets/19707a545133d1954047fb52b8c12f90.png)"
                class="better-ver--fw-section2__image2 layout"
              ></div>
              <div class="better-ver--fw-section2__block2 layout">
                <h2 class="better-ver--fw-section2__medium-title-box layout">
                  <pre class="better-ver--fw-section2__medium-title">
Harlette 
Oatmilk Gentle Facial Wash</pre
                  >
                </h2>
              </div>
            </div>
          </div>
          <div class="better-ver--fw-section2__flex6-spacer"></div>
          <div class="better-ver--fw-section2__flex6-item">
            <div class="better-ver--fw-section2__flex8 layout">
              <div
                style="--src:url(/assets/dcfd9f0908fc1e21afeeede6e688ac84.png)"
                class="better-ver--fw-section2__image2 layout1"
              ></div>
              <div class="better-ver--fw-section2__cover-block layout">
                <h2 class="better-ver--fw-section2__medium-title1-box layout">
                  <pre class="better-ver--fw-section2__medium-title">
Hale. 
Honey, I Dew Gel Cleanser </pre
                  >
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
      <comment content="======= End section2 =======" break="true"></comment
      ><!-- ======= section3 ======= --> 
      <section class="better-ver--fw-section3__section3 layout">
        <div class="better-ver--fw-section3__flex9 layout">
          <div class="better-ver--fw-section3__flex10 layout">
            <div class="better-ver--fw-section3__flex10-item">
              <div class="better-ver--fw-section3__flex11 layout">
                <div
                  style="--src:url(/assets/b33cd0b58281aecdd2083f5990dc739d.png)"
                  class="better-ver--fw-section3__image2 layout"
                ></div>
                <div class="better-ver--fw-section3__group layout">
                  <div class="better-ver--fw-section3__box3 layout"></div>
                  <h3 class="better-ver--fw-section3__subtitle-box layout">
                    <pre class="better-ver--fw-section3__subtitle">

Erha21
Erha 2 Facial Wash for Oily Skin
</pre
                    >
                  </h3>
                </div>
              </div>
            </div>
            <div class="better-ver--fw-section3__flex10-spacer"></div>
            <div class="better-ver--fw-section3__flex10-item1">
              <div class="better-ver--fw-section3__flex12 layout">
                <div
                  style="--src:url(/assets/ef66f9b795ff11a9de2f4946fd152688.png)"
                  class="better-ver--fw-section3__image2 layout1"
                ></div>
                <div class="better-ver--fw-section3__group layout1">
                  <div class="better-ver--fw-section3__box4 layout"></div>
                  <h3 class="better-ver--fw-section3__subtitle1-box layout">
                    <pre class="better-ver--fw-section3__subtitle">
Wardah 
Perfect Bright Creamy Foam Brightening + Oil Control</pre
                    >
                  </h3>
                </div>
              </div>
            </div>
            <div class="better-ver--fw-section3__flex10-spacer1"></div>
            <div class="better-ver--fw-section3__flex10-item2">
              <div class="better-ver--fw-section3__flex13 layout">
                <div
                  style="--src:url(/assets/f9e4c443dd9c48880b104d8583ef8745.png)"
                  class="better-ver--fw-section3__image2 layout2"
                ></div>
                <div class="better-ver--fw-section3__block3 layout">
                  <h3 class="better-ver--fw-section3__subtitle1-box layout1">
                    <pre class="better-ver--fw-section3__subtitle">
SOMETHINC 
Low pH Gentle Jelly Cleanser</pre
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="better-ver--fw-section3__flex14 layout">
            <div class="better-ver--fw-section3__flex14-item">
              <div class="better-ver--fw-section3__flex15 layout">
                <div
                  style="--src:url(/assets/cc7977bf8389670021e8353effec63bb.png)"
                  class="better-ver--fw-section3__image2 layout3"
                ></div>
                <div class="better-ver--fw-section3__block1 layout">
                  <h2 class="better-ver--fw-section3__medium-title-box layout">
                    <pre class="better-ver--fw-section3__medium-title">
SOMETHINC 
ACNEDOT Treatment Low pH Cleanser</pre
                    >
                  </h2>
                </div>
              </div>
            </div>
            <div class="better-ver--fw-section3__flex14-spacer"></div>
            <div class="better-ver--fw-section3__flex14-item1">
              <div class="better-ver--fw-section3__flex16 layout">
                <div
                  style="--src:url(/assets/2d63c8985520ce9a0d5ebd0f80b36c2f.png)"
                  class="better-ver--fw-section3__image2 layout4"
                ></div>
                <div class="better-ver--fw-section3__block4 layout">
                  <h3 class="better-ver--fw-section3__subtitle1-box layout2">
                    <pre class="better-ver--fw-section3__subtitle">
SKINTIFIC 
5X Ceramide Low pH Cleanser Facial Wash Gentle Cleanser For Sensitive Skin</pre
                    >
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= End section3 ======= --> 

    </main>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
