/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: italic 600 64px/1.4 "Open Sans", Helvetica, Arial, serif;
$font_type1: 600 48px/1.4 "Open Sans", Helvetica, Arial, serif;
$font_type2: 600 24px/1.4 "Open Sans", Helvetica, Arial, serif;
$font_type3: 600 22px/1.4 "Open Sans", Helvetica, Arial, serif;

.better-ver--fw- {
  &main {
    @include flex-column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.24705882352941178);
  }
  &main.layout {
    position: relative;
    overflow: hidden;
  }
  &section1__section1 {
    @include flex-column;
  }
  &section1__section1.layout {
    position: relative;
    height: min-content;
  }
  &section1__flex {
    @include flex-column;
  }
  &section1__flex.layout {
    position: relative;
    height: min-content;
    width: 90.28%;
    margin: 13px auto;
  }
  &section1__flex1 {
    display: flex;
  }
  &section1__flex1.layout {
    position: relative;
    height: min-content;
    margin: 36px 5px 0px;
  }
  &section1__flex1-item {
    @include flex-column;
    position: relative;
    flex: 0 1 58px;
  }
  &section1__image {
    background: var(--src) center center / contain no-repeat;
  }
  &section1__image.layout {
    position: relative;
    height: 73px;
    width: 58px;
    min-width: 58px;
    margin: 15px 0px 2px;
  }
  &section1__flex1-spacer {
    flex: 0 1 210.5px;
  }
  &section1__hero-title {
    @include v-center-content;
    justify-content: center;
    font: $font_type0;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 4.48px;
  }
  &section1__hero-title.layout {
    position: relative;
    flex: 0 0 auto;
    height: min-content;
  }
  &section1__hero-title1 {
    @include v-center-content;
    justify-content: center;
    font: $font_type1;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 3.36px;
  }
  &section1__hero-title1.layout {
    position: relative;
    height: min-content;
    width: 25%;
    margin: 16px auto 0px;
  }
  &section1__flex2 {
    display: flex;
  }
  &section1__flex2.layout {
    position: relative;
    height: min-content;
    margin: 177px 0px 0px;
  }
  &section1__flex2-item {
    @include flex-column;
    position: relative;
    flex: 0 1 310px;
  }
  &section1__flex3 {
    @include flex-column;
  }
  &section1__flex3.layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 1px;
  }
  &section1__image1 {
    background: var(--src) center center / contain no-repeat;
  }
  &section1__image1.layout {
    position: relative;
    height: 360px;
  }
  &section1__block1 {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__block1.layout {
    position: relative;
    height: min-content;
  }
  &section1__medium-title-box {
    @include v-center-content;
    justify-content: center;
  }
  &section1__medium-title-box.layout {
    position: relative;
    height: min-content;
    margin: 5.5px 0px;
  }
  &section1__medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type2;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1.68px;
    white-space: pre-wrap;
  }
  &section1__flex2-spacer {
    flex: 0 1 181px;
  }
  &section1__flex2-item1 {
    @include flex-column;
    position: relative;
    flex: 0 1 314px;
  }
  &section1__flex4 {
    @include flex-column;
  }
  &section1__flex4.layout {
    position: relative;
    height: min-content;
  }
  &section1__image3 {
    background: var(--src) center center / contain no-repeat;
  }
  &section1__image3.layout {
    position: relative;
    height: 361px;
    margin: 0px 0px 0px 4px;
  }
  &section1__block5 {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__block5.layout {
    position: relative;
    height: min-content;
  }
  &section1__medium-title1-box {
    @include v-center-content;
    justify-content: center;
  }
  &section1__medium-title1-box.layout {
    position: relative;
    height: min-content;
    margin: 5.5px 0px 5.5px 4px;
  }
  &section1__flex2-spacer1 {
    flex: 0 1 185px;
  }
  &section1__flex5 {
    @include flex-column;
  }
  &section1__flex5.layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 1px;
  }
  &section1__image3.layout1 {
    position: relative;
    height: 361px;
  }
  &section1__cover-block {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section1__cover-block.layout {
    position: relative;
    height: min-content;
  }
  &section1__medium-title1-box.layout1 {
    position: relative;
    height: min-content;
    margin: 21px 0px 22px;
  }
  &section2__section2 {
    @include flex-column;
  }
  &section2__section2.layout {
    position: relative;
    height: min-content;
  }
  &section2__flex6 {
    display: flex;
  }
  &section2__flex6.layout {
    position: relative;
    height: min-content;
    width: 59.86%;
    margin: 20px auto;
  }
  &section2__flex6-item {
    @include flex-column;
    position: relative;
    flex: 0 1 311px;
  }
  &section2__flex7 {
    @include flex-column;
  }
  &section2__flex7.layout {
    position: relative;
    height: min-content;
    margin: 14px 0px 0px;
  }
  &section2__image2 {
    background: var(--src) center center / contain no-repeat;
  }
  &section2__image2.layout {
    position: relative;
    height: 376px;
    margin: 0px 0px 0px 1px;
  }
  &section2__block2 {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section2__block2.layout {
    position: relative;
    height: min-content;
  }
  &section2__medium-title-box {
    @include v-center-content;
    justify-content: center;
  }
  &section2__medium-title-box.layout {
    position: relative;
    height: min-content;
    margin: 5.5px 1px 5.5px 0px;
  }
  &section2__medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type2;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1.68px;
    white-space: pre-wrap;
  }
  &section2__flex6-spacer {
    flex: 0 1 240px;
  }
  &section2__flex8 {
    @include flex-column;
  }
  &section2__flex8.layout {
    position: relative;
    height: min-content;
    margin: 14px 1px 1px 0px;
  }
  &section2__image2.layout1 {
    position: relative;
    height: 376px;
  }
  &section2__cover-block {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section2__cover-block.layout {
    position: relative;
    height: min-content;
  }
  &section2__medium-title1-box {
    @include v-center-content;
    justify-content: center;
  }
  &section2__medium-title1-box.layout {
    position: relative;
    height: min-content;
    margin: 8.5px 0px 1.5px;
  }
  &section3__section3 {
    @include flex-column;
  }
  &section3__section3.layout {
    position: relative;
    height: min-content;
  }
  &section3__flex9 {
    @include flex-column;
  }
  &section3__flex9.layout {
    position: relative;
    height: min-content;
    width: 90.56%;
    margin: 18px auto;
  }
  &section3__flex10 {
    display: flex;
  }
  &section3__flex10.layout {
    position: relative;
    height: min-content;
    margin: 9px 0px 0px;
  }
  &section3__flex10-item {
    @include flex-column;
    position: relative;
    flex: 0 1 318px;
  }
  &section3__flex11 {
    @include flex-column;
  }
  &section3__flex11.layout {
    position: relative;
    height: min-content;
  }
  &section3__image2 {
    background: var(--src) center center / contain no-repeat;
  }
  &section3__image2.layout {
    position: relative;
    height: 363px;
    margin: 0px 6px 0px 2px;
  }
  &section3__group {
    @include flex-column;
  }
  &section3__group.layout {
    position: relative;
    height: 137px;
  }
  &section3__box3 {
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section3__box3.layout {
    position: absolute;
    top: 0px;
    height: 117px;
    left: 0px;
    right: 2px;
    margin: 13px 0px 7px;
  }
  &section3__subtitle-box {
    @include v-center-content;
    justify-content: center;
  }
  &section3__subtitle-box.layout {
    position: absolute;
    top: 0px;
    height: min-content;
    bottom: 0px;
    left: 2px;
    right: 0px;
  }
  &section3__subtitle {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type3;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1.54px;
    white-space: pre-wrap;
  }
  &section3__flex10-spacer {
    flex: 0 1 139px;
  }
  &section3__flex10-item1 {
    @include flex-column;
    position: relative;
    flex: 0 1 391px;
  }
  &section3__flex12 {
    @include flex-column;
  }
  &section3__flex12.layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 7px;
  }
  &section3__image2.layout1 {
    position: relative;
    height: 376px;
    width: 79.28%;
    margin: 0px auto;
  }
  &section3__group.layout1 {
    position: relative;
    height: 117px;
  }
  &section3__box4 {
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section3__box4.layout {
    position: absolute;
    top: 0px;
    height: 117px;
    left: 3px;
    right: 0px;
  }
  &section3__subtitle1-box {
    @include v-center-content;
    justify-content: center;
  }
  &section3__subtitle1-box.layout {
    position: absolute;
    top: 9.5px;
    height: min-content;
    bottom: 14.5px;
    left: 0px;
    right: 3px;
  }
  &section3__flex10-spacer1 {
    flex: 0 1 142px;
  }
  &section3__flex10-item2 {
    @include flex-column;
    position: relative;
    flex: 0 1 312px;
  }
  &section3__flex13 {
    @include flex-column;
  }
  &section3__flex13.layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 23px;
  }
  &section3__image2.layout2 {
    position: relative;
    height: 363px;
    margin: 0px 0px 0px 2px;
  }
  &section3__block3 {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section3__block3.layout {
    position: relative;
    height: min-content;
    margin: 12px 2px 0px 0px;
  }
  &section3__subtitle1-box.layout1 {
    position: relative;
    height: min-content;
    margin: 4.5px 0px;
  }
  &section3__flex14 {
    display: flex;
  }
  &section3__flex14.layout {
    position: relative;
    height: min-content;
    width: 73.47%;
    margin: 28px 9.59% 0px 16.95%;
  }
  &section3__flex14-item {
    @include flex-column;
    position: relative;
    flex: 0 1 311px;
  }
  &section3__flex15 {
    @include flex-column;
  }
  &section3__flex15.layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 13px;
  }
  &section3__image2.layout3 {
    position: relative;
    height: 376px;
    margin: 0px 1px 0px 0px;
  }
  &section3__block1 {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section3__block1.layout {
    position: relative;
    height: min-content;
    margin: 0px 0px 0px 1px;
  }
  &section3__medium-title-box {
    @include v-center-content;
    justify-content: center;
  }
  &section3__medium-title-box.layout {
    position: relative;
    height: min-content;
    margin: 5.5px 0px;
  }
  &section3__medium-title {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: $font_type2;
    color: rgb(0, 0, 0);
    text-align: center;
    letter-spacing: 1.68px;
    white-space: pre-wrap;
  }
  &section3__flex14-spacer {
    flex: 0 1 174px;
  }
  &section3__flex14-item1 {
    @include flex-column;
    position: relative;
    flex: 0 1 473px;
  }
  &section3__flex16 {
    @include flex-column;
  }
  &section3__flex16.layout {
    position: relative;
    height: min-content;
  }
  &section3__image2.layout4 {
    position: relative;
    height: 369px;
    width: 65.54%;
    margin: 0px 20.51% 0px 13.95%;
  }
  &section3__block4 {
    @include flex-column;
    background-color: rgb(224, 166, 166);
    border-radius: 20px 20px 20px 20px;
  }
  &section3__block4.layout {
    position: relative;
    height: min-content;
    margin: 6.5px 0px 0px;
  }
  &section3__subtitle1-box.layout2 {
    position: relative;
    height: min-content;
    margin: 0px 0px 1.5px;
  }
}
